addict==2.2.1
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
Cython==0.29.14
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.3
mmcv==0.2.16
-e git+https://github.com/open-mmlab/mmdetection.git@9e15a014a50fe4c23aba21f33a710c5fdea33a01#egg=mmdet
multidict==4.7.5
numpy==1.18.1
opencv-python==4.2.0.32
Pillow>=7.1.0
pycocotools==2.0
pyparsing==2.4.6
python-dateutil==2.8.1
PyYAML==5.3
requests==2.22.0
six==1.14.0
slack==0.0.2
slackclient==1.3.2
terminaltables==3.1.0
torch==1.4.0+cu92
torchvision==0.5.0+cu92
urllib3==1.25.8
websocket-client==0.54.0
yarl==1.4.2
